/* Variables */
/* Globals */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  color: rgba(242, 242, 254, 0.7);
  overflow-x: hidden;
  background: #0f0f3e;
}
body h1, body h2, body h3, body h4, body h5 {
  color: #f2f2fe;
  line-height: 1.3;
}
body h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
body h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
body h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}
body h4 {
  font-size: 1rem;
}
body a {
  color: #f2f2fe;
  transition: all 300ms ease-in-out;
}
body img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 74%;
  max-width: 1800px;
  margin-inline: auto;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

/* NAV */
.nav {
  background: #6f6af8;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.nav button {
  display: none;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__profile {
  position: relative;
  cursor: pointer;
}
.nav__profile:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__profile ul {
  position: absolute;
  top: 140%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.nav__profile ul li a {
  padding: 1rem;
  background: #1e1e66;
  display: block;
  width: 100%;
}
.nav__profile ul li:last-child a {
  background: #da0f3f;
  color: #0f0f3e;
}
.nav__profile .avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid #0f0f3e;
}

/* Category btn */
.category__button {
  background: hsla(242deg, 91%, 69%, 0.18);
  color: #6f6af8;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-style: 600;
  font-size: 0.8rem;
  text-align: center;
}
.category__button:hover {
  color: #f2f2fe;
}

/* Post Style*/
.post:hover__thumbail img {
  filter: saturate(0);
  transition: filter 500ms ease-in-out;
}
.post__thumbail {
  border-radius: 5rem 0;
  border: 1rem solid #1e1e66;
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.post__author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}
.post__author-avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

/* Featured Section */
.featured {
  margin-top: 8rem;
}
.featured__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.featured .post__thumbail {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}/*# sourceMappingURL=styles.css.map */