/* Variables */
/* Globals */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  line-height: 1.6;
  color: rgba(242, 242, 254, 0.7);
  overflow-x: hidden;
  background: #0f0f3e;
}
body h1, body h2, body h3, body h4, body h5 {
  color: #f2f2fe;
  line-height: 1.3;
}
body h1 {
  font-size: 3rem;
  margin: 1rem 0;
}
body h2 {
  font-size: 1.7rem;
  margin: 1rem 0;
}
body h3 {
  font-size: 1.1rem;
  margin: 0.8rem 0 0.5rem;
}
body h4 {
  font-size: 1rem;
}
body a {
  color: #f2f2fe;
  transition: all 300ms ease-in-out;
}
body img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 74%;
  max-width: 1800px;
  margin-inline: auto;
}

section {
  margin-top: 3rem;
  width: 100vw;
}

/* NAV */
.nav {
  background: #6f6af8;
  width: 100vw;
  height: 4.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.nav button {
  display: none;
}
.nav__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo {
  font-weight: 600;
  font-size: 1.2rem;
}
.nav__items {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav__profile {
  position: relative;
  cursor: pointer;
}
.nav__profile:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav__profile ul {
  position: absolute;
  top: 140%;
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.nav__profile ul li a {
  padding: 1rem;
  background: #1e1e66;
  display: block;
  width: 100%;
}
.nav__profile ul li:last-child a {
  background: #da0f3f;
  color: #0f0f3e;
}
.nav__profile .avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid #0f0f3e;
}

/* Category btns */
.category-buttons {
  padding: 4rem 0;
  border-top: 2px solid #1e1e66;
  border-bottom: 2px solid #1e1e66;
}
.category-buttons__container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.category__button {
  background: hsla(242deg, 91%, 69%, 0.18);
  color: #6f6af8;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-style: 600;
  font-size: 0.8rem;
  text-align: center;
}
.category__button:hover {
  color: #f2f2fe;
}

/* Posts */
.posts__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-bottom: 5rem;
}
.posts p {
  font-size: 0.8rem;
}

.post__thumbail img:hover {
  filter: saturate(0);
  transition: filter 500ms ease-in-out;
}
.post__thumbail {
  border-radius: 5rem 0;
  border: 1rem solid #1e1e66;
  overflow: hidden;
  margin-bottom: 1.6rem;
}
.post__author {
  display: flex;
  gap: 1rem;
  margin-top: 1.2rem;
}
.post__author-avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

/* Featured Section */
.featured {
  margin-top: 8rem;
}
.featured__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.featured .post__thumbail {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.featured .post__thumbail img:hover {
  filter: none;
}

/* Footer */
.footer {
  background: #1e1e66;
  padding: 5rem 0 0;
  box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.footer__socials {
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.footer__socials a {
  background: #0f0f3e;
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__socials a:hover {
  background: #f2f2fe;
  color: #0f0f3e;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer h4 {
  color: #f2f2fe;
  margin-bottom: 0.6rem;
}
.footer ul li {
  padding: 0.4rem 0;
}
.footer ul a {
  opacity: 0.75;
}
.footer ul a:hover {
  letter-spacing: 0.2rem;
  opacity: 1;
}
.footer__copyright {
  text-align: center;
  padding: 1.5rem 0;
  border-top: 2px solid #0f0f3e;
  margin-top: 4rem;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  /*General*/
  .container {
    width: 88%;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  /* NAV */
  .nav button {
    display: inline-block;
    font-size: 1.5rem;
    background: transparent;
    color: #f2f2fe;
    cursor: pointer;
  }
  .nav button#close__nav-btn {
    display: none;
  }
  .nav__container {
    position: relative;
  }
  .nav__items {
    position: absolute;
    flex-direction: column;
    top: 100%;
    right: 0;
    width: 12rem;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    display: none;
  }
  .nav__items li {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    background: #1e1e66;
    border-top: 1px solid #0f0f3e;
    -webkit-animation: animateDropdown 400ms 0s ease-in-out forwards;
            animation: animateDropdown 400ms 0s ease-in-out forwards;
    opacity: 0;
    transform-origin: top;
  }
  .nav__items li:nth-child(2) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  .nav__items li:nth-child(3) {
    -webkit-animation-delay: 400ms;
            animation-delay: 400ms;
  }
  .nav__items li:nth-child(4) {
    -webkit-animation-delay: 600ms;
            animation-delay: 600ms;
  }
  .nav__items li:nth-child(5) {
    -webkit-animation-delay: 800ms;
            animation-delay: 800ms;
  }
  .nav__items li a {
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: #1e1e66;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
  .nav__profile {
    background: #1e1e66;
  }
  .nav__profile ul {
    top: 100%;
    width: 100%;
  }
  .nav__profile .avatar {
    margin-left: 2rem;
    border: 0;
  }
  @-webkit-keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes animateDropdown {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
      opacity: 1;
    }
  }
  /*Featured*/
  .featured__container {
    gap: 3rem;
  }
  /*Posts*/
  .posts__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}/*# sourceMappingURL=styles.css.map */